* {
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;

}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
}

.black {
  background-color: rgb(204, 207, 156);
}

.white {
  background-color: rgb(47, 170, 179)
}


.selected { 
  background-color: brown;
}